<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ coin.symbol }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

{% include 'navBar/navBar.view.twig' %}

<div>
    <h3>FIAT balance: {{ auth.fiatBalance }}</h3>
</div>

<div class="card mx-auto" style="margin-top: 3em ; width: 18rem;">
    <div class="d-flex m-4" style="justify-content: center">
        <img class="text-center" style="width: 30px" src="https://logo.chainbit.xyz/{{ coin.symbol }}"
             alt="{{ coin.symbol }}">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">{{ coin.symbol }}</h5>
        <p class="card-text">
            Price: $<span>{{ coin.price|number_format(4, '.', ',') }}</span><br>

            {% if coin.percentChange24h < 0 %}
                Percent change (24h): <span
                    style="color: darkred">{{ coin.percentChange24h|number_format(2, '.', ',') }}</span><br>
            {% else %}
                Percent change (24h): <span
                    style="color: darkgreen">{{ coin.percentChange24h|number_format(2, '.', ',') }}</span><br>
            {% endif %}

            Volume (24h): {{ coin.volume24h|number_format(2, '.', ',') }}<br>
        </p>
        <form class="my-2" method="POST">
            <input name="symbol" value="{{ coin.symbol }}" type="hidden">
            <input type="number" name="buy" placeholder="$">
            <button type="submit" class="btn btn-primary my-2">Buy</button>
        </form>
        <form class="my-2" method="POST">
            <input name="symbol" value="{{ coin.symbol }}" type="hidden">
            <input type="number" name="sell" placeholder="$">
            <button type="submit" class="btn btn-primary my-2">Sell</button>
        </form>
{#        <div class="flex">#}
{#            <a href="#" class="btn btn-primary" style="align-self: center">Buy</a>#}
{#            <a href="#" class="btn btn-primary" style="align-self: flex-end">Sell</a>#}
{#        </div>#}
    </div>
</div>

</body>
</html>